body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-poly: Poly;
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-7xs-6: 5.6px;
  --font-size-4xl: 23px;
  --font-size-51xl: 70px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;
  --font-size-lgi: 19px;

  /* Colors */
  --color-white: #fff;
  --color-darkslateblue-100: #023062;
  --color-aliceblue: #effaff;
  --color-darkgray: #999494;
  --color-black: #000;
  --color-gray: rgba(255, 255, 255, 0.1);
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-8xs: 5px;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-4xs: 9px;
  --padding-mini-1: 14.1px;
  --padding-xl: 20px;
  --padding-mini-5: 14.5px;
  --padding-15xl: 34px;
  --padding-mini: 15px;

  /* border radiuses */
  --br-81xl: 100px;
  --br-4xs-5: 8.5px;
  --br-base: 16px;
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-5xl: 24px;
  --br-xl: 20px;
  --br-8xs: 5px;
  --br-6xs: 7px;
  --br-5xs: 8px;
}
