.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-100);
  width: 1440px;
  height: 189px;
}
.search {
  position: relative;
  line-height: 38px;
  border: none;
  background: transparent;
  outline: 0;
}
.enter-your-name,.enter-your-email,.enter-your-message{
  border: none;
  background: transparent;
  outline: 0;
}
.icon-search-normal-1 {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.search-parent {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  /* border: 2px solid var(--color-white); */
  box-sizing: border-box;
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  justify-content: space-between;
}
.component-2,
.contact-us {
  font-size: var(--font-size-lg);
}
.component-2 {
  position: absolute;
  top: 138px;
  left: 1191px;
  border-radius: var(--br-base);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 220px;
  height: 38px;
}
.contact-us {
  left: 1060px;
}
.careers-with-us,
.contact-us,
.message {
  position: absolute;
  top: 142px;
  line-height: 38px;
  font-weight: 900;
}
.careers-with-us {
  left: 912px;
  font-size: var(--font-size-lg);
}
.message {
  left: 334px;
}
.about-us,
.academics,
.parents-corner,
.rules,
.student-life {
  position: absolute;
  top: 141px;
  left: 755px;
  line-height: 38px;
  font-weight: 900;
}
.about-us,
.academics,
.parents-corner,
.rules,
.student-life,
.message,
.careers-with-us,
.contact-us {
  cursor: pointer;
}
.about-us,
.academics,
.rules,
.student-life {
  top: 142px;
  left: 432px;
}
.about-us,
.rules,
.student-life {
  top: 141px;
  left: 551px;
}
.about-us,
.student-life {
  left: 624px;
}
.about-us {
  top: 142px;
  left: 231px;
}
.gggggg2-1-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 162px;
  height: 155px;
  object-fit: cover;
}
.frame-inner,
.frame-item {
  position: absolute;
  border-radius: var(--br-5xs);
}
.frame-item {
  top: 80px;
  left: 0;
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 1240px;
  height: 510px;
}
.frame-inner {
  top: 500px;
  left: 221px;
  background-color: #0eae44;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 167px;
  height: 36px;
}
.submit {
  position: absolute;
  top: 499px;
  left: 267px;
  font-size: var(--font-size-xl);
  line-height: 38px;
  font-weight: 900;
  color: #f7f9fb;
  text-align: center;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 4.39%;
  width: 2.2%;
  top: 49.02%;
  right: 38.97%;
  bottom: 46.59%;
  left: 58.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 4.07%;
  width: 2.74%;
  top: 56.44%;
  right: 38.76%;
  bottom: 39.49%;
  left: 58.5%;
}
.div {
  position: absolute;
  top: 297px;
  left: 782px;
  font-size: var(--font-size-lgi);
  line-height: 20px;
  text-align: center;
}
.material-symbolslocation-on-icon {
  position: absolute;
  top: 154px;
  left: 726px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.rectangle-div {
  position: absolute;
  top: 161px;
  left: 90px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 430px;
  height: 50px;
}
.enter-your-name {
  position: absolute;
  top: 167px;
  left: 107px;
  line-height: 38px;
  color: var(--color-darkgray);
}
.frame-child1 {
  position: absolute;
  top: 251px;
  left: 90px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 430px;
  height: 50px;
}
.enter-your-email {
  position: absolute;
  top: 257px;
  left: 107px;
  line-height: 38px;
  color: var(--color-darkgray);
}
.frame-child2 {
  position: absolute;
  top: 345px;
  left: 90px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 430px;
  height: 120px;
}
.enter-your-message {
  position: absolute;
  top: 351px;
  left: 107px;
  line-height: 38px;
  color: var(--color-darkgray);
}
.rectangle-icon {
  position: absolute;
  top: 369px;
  left: 763px;
  border-radius: var(--br-8xs);
  width: 339.8px;
  height: 151.35px;
  object-fit: cover;
}
.line-div {
  position: absolute;
  top: 147.5px;
  left: 620.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 378px;
}
.visit-us {
  font-weight: 900;
}
.the-assembly-of,
.visit-us {
  margin-block-start: 0;
  margin-block-end: 12px;
}
.agcsranchigmailcom,
.visit-us-container {
  position: absolute;
  left: 783px;
  line-height: 20px;
}
.visit-us-container {
  top: 158px;
  font-size: var(--font-size-lgi);
  /* white-space: pre-wrap; */
  display: inline-block;
  width: 384px;
  height: 112px;
}
.agcsranchigmailcom {
  top: 334px;
  font-size: var(--font-size-xl);
  text-decoration: underline;
  color: inherit;
}
.frame-child3 {
  position: relative;
  background-color: var(--color-darkslateblue-100);
  width: 5px;
  height: 38px;
}
.get-in-touch {
  position: relative;
  font-weight: 800;
}
.rectangle-container {
  position: absolute;
  top: 21px;
  left: 482px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
  font-size: var(--font-size-4xl);
  font-family: var(--font-inter);
}
.rectangle-group {
  position: absolute;
  top: 3967px;
  left: 100px;
  width: 1240px;
  height: 590px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslateblue-100);
}
.tiril-dela-toli {
  position: absolute;
  top: 77px;
  left: 197px;
  font-size: 26px;
  line-height: 35px;
  font-weight: 900;
  text-align: left;
}
.image-1-icon {
  position: absolute;
  top: 189px;
  left: 0;
  width: 1440px;
  height: 780px;
  object-fit: cover;
  visibility: hidden;
}
.selected{
  visibility: visible !important;
}
.frame-child4,
.frame-child5 {
  position: absolute;
  top: 535px;
  left: 376px;
  background-color: var(--color-black);
  width: 757px;
  height: 46px;
  opacity: 0.35;
}
.frame-child5 {
  top: 479px;
  left: 468px;
  width: 575px;
}
.frame-child6,
.frame-child7 {
  position: relative;
  border-radius: 8.49px;
  background-color: var(--color-white);
  width: 16.97px;
  height: 3px;
  transform: rotate(33deg);
  transform-origin: 0 0;
}
.frame-child7 {
  transform: rotate(319deg);
  margin-top: -1px;
}
.frame-div,
.frame-wrapper {
  box-sizing: border-box;
  display: flex;
}
.frame-div {
  width: 14.12px;
  height: 24px;
  flex-direction: column;
  padding: 11.99996566772461px 0 9.000110626220703px 0.000030517578125px;
  align-items: flex-start;
  justify-content: flex-end;
}
.frame-wrapper {
  position: absolute;
  top: 554px;
  left: 30px;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-white);
  width: 50px;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rectangle-parent1 {
  width: 14.12px;
  height: 24px;
  display: flex;
  flex-direction: column;
  padding: 11.99996566772461px 0 9.000110626220703px 14.121391296386719px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
  transform: rotate(180deg);
  transform-origin: 0 0;
  position: relative;
  left: 30px;
  top: 25px;
}
.frame-container {
  position: absolute;
  top: 554px;
  left: 1360px;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.latest-notice {
  position: absolute;
  top: 40px;
  left: 276px;
  line-height: 38px;
  font-weight: 800;
}
.frame-textarea {
  border: 0;
  background-color: var(--color-white);
  font-weight: 500;
  font-family: var(--font-roboto);
  font-size: var(--font-size-lg);
  align-self: stretch;
  border-bottom: 1px solid var(--color-darkgray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.group-icon {
  position: relative;
  width: 19.5px;
  height: 21.5px;
}
.group-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent1,
.frame-wrapper1 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.frame-wrapper1 {
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-xl);
  align-items: center;
}
.frame-parent1 {
  border-radius: var(--br-xl);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.first-school-in {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.first-school-in-ranchi-to-star-wrapper,
.frame-wrapper2 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.first-school-in-ranchi-to-star-wrapper {
  border-bottom: 1px solid var(--color-darkgray);
  display: flex;
  padding: var(--padding-xl);
  justify-content: center;
}
.frame-wrapper2 {
  padding: var(--padding-mini) var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.frame-parent2,
.frame-wrapper2,
.group-container {
  display: flex;
  justify-content: flex-start;
}
.frame-parent2 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
}
.group-container {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.material-symbolsdownload-roun-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.download {
  position: relative;
  font-weight: 500;
}
.material-symbolsdownload-roun-parent {
  border-radius: var(--br-8xs);
  background-color: #112456;
  display: flex;
  flex-direction: row;
  padding: 5px var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-white);
}
.frame-parent4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-group {
  position: absolute;
  top: 108px;
  left: 30px;
  width: 660px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.see-all-notices {
  flex: 1;
  position: relative;
}
.see-all-notices-wrapper {
  position: absolute;
  top: 670px;
  left: 115px;
  border-radius: var(--br-base);
  background-color: var(--color-darkslateblue-100);
  width: 490px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini-5) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.latest-notice-parent {
  flex: 1;
  position: relative;
  height: 780px;
  overflow: hidden;
}
.upcoming-events {
  position: absolute;
  top: 40px;
  left: 255px;
  line-height: 38px;
  font-weight: 800;
}
.div1 {
  font-size: var(--font-size-51xl);
}
.div1,
.div2 {
  position: relative;
  font-weight: 800;
  margin-top: -9px;
}
.frame-wrapper4,
.may-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-wrapper4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-100);
  width: 150px;
  height: 150px;
  overflow: hidden;
  padding: 0 var(--padding-15xl);
  box-sizing: border-box;
  align-items: flex-start;
  color: var(--color-white);
}
.tagcs-table-tennis,
.the-tagcs-table {
  position: absolute;
  left: 175px;
  display: inline-block;
}
.tagcs-table-tennis {
  top: 20px;
  font-size: var(--font-size-4xl);
  font-weight: 800;
  width: 464px;
}
.the-tagcs-table {
  top: 88px;
  font-size: var(--font-size-lg);
  width: 459px;
}
.frame-parent6 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  height: 150px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent5 {
  position: absolute;
  top: 108px;
  left: 30px;
  width: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-xl);
}
.frame-child10,
.frame-parent {
  position: absolute;
  width: 1440px;
}
.frame-parent {
  top: 969px;
  left: 1px;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-4xl);
  color: var(--color-darkslateblue-100);
}
.frame-child10 {
  top: 569px;
  left: 0;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
  height: 400px;
}
.welcome-to-agcs {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.building-india-by {
  margin: 0;
  font-size: 30px;
}
.welcome-to-agcs-container {
  position: absolute;
  top: 483px;
  left: 376px;
  line-height: 38px;
  font-weight: 900;
  font-size: 40px;
}
.span {
  font-weight: 800;
}
.know-more-about-container {
  position: relative;
}
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 576px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-inter);
}
.frame-child12,
.frame-child13 {
  position: absolute;
  top: 113px;
  left: 137px;
  border-radius: var(--br-3xs);
  width: 218px;
  height: 174px;
}
.frame-child13 {
  left: 470px;
  background-color: var(--color-darkslateblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 210px;
  height: 166px;
}
.objectives {
  position: absolute;
  top: 183px;
  left: 528px;
  text-align: left;
}
.frame-child14 {
  position: absolute;
  top: 113px;
  left: 800px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 210px;
  height: 166px;
}
.life-agcs {
  margin: 0;
}
.frame-child15,
.life-agcs-container {
  position: absolute;
  top: 173px;
  left: 838px;
}
.frame-child15 {
  top: 113px;
  left: 1130px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 210px;
  height: 166px;
}
.teachers-agcs-container {
  position: absolute;
  top: 172px;
  left: 1148px;
}
.frame-parent9,
.our-vision-container {
  position: absolute;
  top: 158px;
  left: 195px;
}
.frame-parent9 {
  top: 1768px;
  left: 1px;
  background-color: var(--color-white);
  width: 1440px;
  height: 301px;
  overflow: hidden;
}
.the-assembly-of-container {
  position: absolute;
  top: 102px;
  left: 50px;
  line-height: 38px;
  font-weight: 500;
  display: inline-block;
  width: 636px;
}
.frame-child16 {
  position: absolute;
  top: 62px;
  left: 737px;
  background-color: var(--color-gainsboro);
  width: 700px;
  height: 550px;
}
.icon,
.icon1 {
  position: absolute;
  object-fit: cover;
}
.icon {
  top: 60px;
  left: 731px;
  border-radius: var(--br-mini) 0 0 var(--br-mini);
  width: 986px;
  height: 562px;
}
.icon1 {
  top: 206px;
  left: 890px;
  width: 0;
  height: 0;
}
.the-assembly-of-god-church-sch-parent {
  position: absolute;
  top: 2133px;
  left: 0;
  background-color: var(--color-aliceblue);
  width: 1440px;
  height: 673px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.b,
.students {
  position: relative;
}
.b {
  align-self: stretch;
}
.students {
  font-size: var(--font-size-4xl);
  font-weight: 500;
  text-align: left;
}
.parent {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-gray);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid var(--color-white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.classes {
  position: relative;
  font-size: var(--font-size-4xl);
  font-weight: 500;
}
.group {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-gray);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid var(--color-white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: left;
}
.certified-teachers {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-4xl);
  font-weight: 500;
}
.container,
.frame-parent10 {
  display: flex;
  align-items: center;
}
.container {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-gray);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid var(--color-white);
  flex-direction: column;
  padding: var(--padding-xl) 25px;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent10 {
  width: 1117px;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
}
.frame-wrapper7 {
  position: absolute;
  top: 2872px;
  left: -1px;
  width: 1440px;
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 65px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  background-image: url(./public/frame-87@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-51xl);
}
.rectangle-parent3,
.year-1971,
.year-1982,
.year-2000 {
  position: absolute;
  font-size: var(--font-size-4xl);
  font-family: var(--font-inter);
}
.rectangle-parent3 {
  top: 59px;
  left: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
  text-align: left;
}
.year-1971,
.year-1982,
.year-2000 {
  font-weight: 800;
}
.year-1982 {
  top: 549px;
  left: 648px;
  text-align: left;
}
.year-1971,
.year-2000 {
  top: 500px;
  left: 356px;
}
.year-2000 {
  left: 962px;
  text-align: left;
}
.affiliation {
  position: absolute;
  top: 585px;
  left: 682px;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: 611px;
  left: 518px;
  display: inline-block;
  width: 392px;
}
.establishment {
  position: absolute;
  top: 531px;
  left: 380px;
}
.new-building-foundation {
  position: absolute;
  top: 535px;
  left: 942px;
}
.frame-child18,
.frame-child19,
.frame-child20 {
  position: absolute;
  top: 190px;
  left: 315px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.frame-child19,
.frame-child20 {
  left: 855px;
}
.frame-child20 {
  top: 122px;
  left: 520px;
  width: 400px;
  height: 400px;
}
.read-more {
  position: absolute;
  top: 706px;
  left: 675px;
  color: var(--color-black);
}
.frame-wrapper8,
.since-1971 {
  position: absolute;
  top: 92px;
  left: 114px;
}
.frame-wrapper8 {
  top: 308px;
  left: 1193px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkgray);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child23,
.frame-child24 {
  position: relative;
  border-radius: 8.49px;
  background-color: var(--color-white);
  width: 16.97px;
  height: 3px;
  transform: rotate(33deg);
  transform-origin: 0 0;
}
.frame-child24 {
  transform: rotate(319deg);
  margin-top: -1px;
}
.frame-wrapper9 {
  position: absolute;
  top: 363px;
  left: 277px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkgray);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.frame-parent11,
.group-icon3 {
  position: absolute;
  overflow: hidden;
}
.frame-parent11 {
  top: 3201px;
  left: -1px;
  background-color: var(--color-aliceblue);
  width: 1440px;
  height: 754px;
  font-size: var(--font-size-lg);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-poly);
}
.group-icon3 {
  height: 88.59%;
  width: 92.51%;
  top: 4.6%;
  right: 3.73%;
  bottom: 6.81%;
  left: 3.76%;
  max-width: 100%;
  max-height: 100%;
}
.all,
.gospel,
.the {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
}
.gospel,
.the {
  left: 47.21%;
}
.gospel {
  top: 42.74%;
  left: 0.59%;
}
.agc-logo,
.all-parent {
  position: absolute;
  top: 43.62px;
  left: 16.2px;
  width: 22.13px;
  height: 12.22px;
}
.agc-logo {
  top: 49px;
  left: 47.04px;
  width: 112.33px;
  height: 120px;
  overflow: hidden;
}
.excellence-in-holistic,
.the-assembly-of2 {
  align-self: stretch;
  position: relative;
  line-height: 38px;
}
.the-assembly-of2 {
  font-weight: 900;
}
.excellence-in-holistic {
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-poly);
  margin-top: -10px;
}
.the-assembly-of-god-church-sch-group {
  position: absolute;
  top: 72px;
  left: 181px;
  width: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}
.frame-information{
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  font-weight: bold;
  position: relative;
  left: 70rem;
  top: 5rem;
}
.information{
  margin-bottom: 50px;
}
.mdiinstagram-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.mdiinstagram-parent {
  position: absolute;
  top: 355px;
  left: 101px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.the-assembly-of3 {
  position: absolute;
  top: 213px;
  left: 100px;
  font-size: var(--font-size-base);
  line-height: 26px;
  display: inline-block;
  width: 498px;
}
.agc-logo-parent,
.powered-by-invictus-digisoft-p-wrapper {
  position: absolute;
  left: 0;
  width: 1440px;
  overflow: hidden;
  text-align: left;
}
.agc-logo-parent {
  top: 4614px;
  background-color: var(--color-darkslateblue-100);
  height: 436px;
  font-size: 5.62px;
}
.powered-by-invictus-digisoft-p-wrapper {
  top: 5050px;
  background-color: var(--color-white);
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslateblue-100);
}
.rectangle-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5130px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
