@media screen and (min-width: 320px) {
    body {
      zoom: 22%;
    }
}
@media screen and (min-width: 480px) {
    body {
      zoom: 32.5%;
    }
}
@media screen and (min-width: 640px) {
    body {
      zoom: 44%;
    }
}
@media screen and (min-width: 750px) {
    body {
      zoom: 52%;
    }
}
@media screen and (min-width: 768px) {
    body {
        zoom: 53%;
    }
}
@media screen and (min-width: 1024px) {
    body {
        zoom: 71%;
    }
}
@media screen and (min-width: 1080px) {
    body {
      zoom: 75%;
    }
}
@media screen and (min-width: 1440px) {
        body {
          zoom: 100%;
        }
  }
@media screen and (min-width: 1852px) {
        body {
          zoom: 130%;
        }
  }